:shield: The following protections were added to the {{ default_branch_name }} branch of the repository:

{% for protection in branch_protections %}
- {{ protection }}
{% endfor %}

@jlmayorga

For more information, please see:
http://myrepo.com